<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Saved link</title>
</head>
<body>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <h3 class="text-primary text-center">
                Your link
            </h3>
            <h3 class="text-success text-center">
                <a th:href="@{${bareUrl}}"><p th:text="${bareUrl}"></p></a>
            </h3>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
</body>
</html>

